<div class="container mx-auto bg-white h-[60px] rounded-full mt-2 flex items-center font-medium text-lg shadow">
  <div class="flex items-center select-none">
    <img 
      src="../../../assets/head-logo.png"
      alt="logo"
      class="h-[80px]"
    >
    <span class="font-semibold lg:text-xl text-center">DeadZone Supply</span>
  </div>

  <div class="flex space-x-5 ml-5 lg:ml-20 grow select-none">
    <span class="hover:bg-slate-100 hover:rounded-md p-2 cursor-pointer">Товары</span>
    <span class="hover:bg-slate-100 hover:rounded-md p-2 cursor-pointer">Новости</span>
    <span class="hover:bg-slate-100 hover:rounded-md p-2 cursor-pointer">FAQ</span>
  </div>

  <div class="flex items-center space-x-1 lg:space-x-5 mr-3 text-lg">
    <div class="flex items-center space-x-1 lg:space-x-5">
      <span>Баланс: 0₽</span>
      <p-avatar 
      image="https://avatars.cloudflare.steamstatic.com/9784efc932f526a6057b18e74b195dac6267208e_full.jpg" 
      class="h-[48px]" 
      size="large"
      shape="circle"
      />
    </div>
    <div class="px-5 py-1 lg:px-7 lg:py-2 bg-red-600 rounded-full hover:bg-red-700 select-none hidden">
      Войти
    </div>
  </div>
</div>