<div 
  class="bg-white h-[400px] md:h-[300px] rounded-xl shadow hover:shadow-lg transition-[.6s] cursor-pointer font-medium flex flex-col justify-between"
  (click)="openPreview()"
>
  <div class="p-3 text-center">Самозарядный карабин Симонова</div>
  <img src="../../../assets/sks.png" class="px-1">
  <div class="flex justify-around px-3 pb-3 text-2xl">
    <div class="line-through hidden text-red-500">500₽</div>
    <div class="">200₽</div>
    <!-- <div class="text-green-600">200₽</div> -->
  </div>
</div>