<div class="flex flex-col items-center gap-y-10">
    <div class="font-semibold text-xl text-center">Самозарядный карабин Симонова</div>
    <img src="../../../assets/sks.png" class="w-[300px]">
    <div class="self-start space-y-2">
        <div class="font-medium">Что входит в состав:</div>
        <ul class="m-0 marker:text-green-700">
            <li>qwe</li>
            <li>qwe</li>
            <li>qwe</li>
            <li>qwe</li>
            <li>qwe</li>
            <li>qwe</li>
        </ul>
    </div>
    <div class="py-4 px-8 bg-blue-600 hover:bg-blue-800 rounded-lg select-none cursor-pointer text-white">Купить</div>
</div>