<div class="select-none font-medium text-lg flex flex-wrap gap-1">
  <div class="px-3 py-1 bg-white hover:bg-slate-100 rounded-lg shadow cursor-pointer">
    Все
  </div>
  <div class="px-3 py-1 bg-white hover:bg-slate-100 rounded-lg shadow cursor-pointer">
    Оружие
  </div>
  <div class="px-3 py-1 bg-white hover:bg-slate-100 rounded-lg shadow cursor-pointer">
    Броня
  </div>
  <div class="px-3 py-1 bg-white hover:bg-slate-100 rounded-lg shadow cursor-pointer">
    Медицина
  </div>
  <div class="px-3 py-1 bg-white hover:bg-slate-100 rounded-lg shadow cursor-pointer">
    Транспорт
  </div>
  <div class="px-3 py-1 bg-white hover:bg-slate-100 rounded-lg shadow cursor-pointer">
    Строительство
  </div>
  <div class="px-3 py-1 bg-white hover:bg-slate-100 rounded-lg shadow cursor-pointer">
    Другое
  </div>
</div>